// Content wrapper
.wrap { }

// Main content area
.main {
  @include make-sm-column($main-sm-columns);
  .sidebar-primary & {
    @include make-sm-column($main-sm-columns - $sidebar-sm-columns);
  }
}

html, body {
	height: 100%;
}

.lightbox {
	display: table;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 1000;
	background-color: rgba(0,0,0,0.8);
	top: 0;
	display: none;
	.lightbox-btn {
		font-size: 2em;
		position: absolute;
		top: 3rem;
		right: 3rem;
		color: white;
	}
	&.on {
		display: table;
	}
	.content {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		overflow: scroll;
		max-height: 100%;
		.container {
			@include box-sizing(border-box);
			padding: 2rem;
			background-color: white;
			max-height: 100%;
			overflow: scroll;
			img.main {
				width: 100%;
			}
		}
	}
}

.symptoms {
	overflow: hidden;
}

.xdebug-error {
	display: block;
	position: relative;
	z-index: 999999;
}

.accordion-section {
	max-height: 0;
	overflow: hidden;
	transition: 0.5s all;
	&.on {
		max-height: 4000px;
		min-height: 100px; 
		overflow: auto;
	}
}