.banner { 
	position: fixed;
	top: 3rem;
	background-color: rgba(#00aeef, 0.95);
	width: 100%;
	border: 0;
	.navbar-nav li.active a, .navbar-nav li:hover a{
		background-color: rgba(darken(#00aeef,10), .4);
		&:hover {
			background-color: rgba(white, 0.6)!important;
		}
	}
	.navbar-nav li a, .navbar-nav li.active a{
		color: white;
	}
	.secondary-nav {
		width: 100%;
		background-color: rgba(black, .6);
		height: 40px;
		position: absolute;
		bottom: -40px;
		left: 0;
		.container {
			a {
				float: right;
				color: white;
				line-height: 40px;
				font-size: .8em;
				margin-right: 30px;
				span {
					margin-right: 5px;
				}
			}
			.btn {
				line-height: 24px;
				margin: 7px 10px 7px 0;
				padding: 0 7px;
			}
		}
	}
}

.navbar-brand {
	text-indent: -9999px;
	background-color: #fff;
	background-image: url('../img/logo.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 220px;
	position: relative;
	/*&:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: -30px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 90px 0 0 30px;
		border-color: transparent transparent transparent #ffffff;
		-moz-box-shadow:    inset 0 0 10px #000000;
	   	-webkit-box-shadow: inset 0 0 10px #000000;
	   	box-shadow:         inset 0 0 10px #000000;
	}
	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: -30px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 30px 90px 0;
		border-color: transparent #ffffff transparent transparent;
		-moz-box-shadow:    inset 0 0 40px #000000;
	   	-webkit-box-shadow: inset 0 0 40px #000000;
	   	box-shadow:         inset 0 0 40px #000000;
	}*/
	span {
		width: 90px;
		height: 100px;
		display: block;
		//background-color: red;
		position: absolute;
		height: 100%;
		top: 0;
		overflow: hidden;
		&:first-of-type {
			left: -90px;
			&:before {
				content: "";
				display: block;
				position: absolute;
				top: -100%;
				right: -15%;
				height: 300px;
				width: 50px;
				z-index: 1;
				background-color: rgba(255,255,255, 1);
				-webkit-box-shadow: inset 5px 0px 5px 0 rgba(0,0,0,0.5);
				-moz-box-shadow: inset 5px 0px 5px 0 rgba(0,0,0,0.5);
				box-shadow: inset 5px 0px 5px 0 rgba(0,0,0,0.5);
				-ms-transform: rotate(20deg); /* IE 9 */
			    -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
			    transform: rotate(20deg);
			}
		}
		&:last-of-type {
			right: -90px;
			&:before {
				content: "";
				display: block;
				position: absolute;
				top: -100%;
				left: -22%;
				height: 300px;
				width: 50px;
				z-index: 1;
				background-color: rgba(255,255,255, 1);
				-webkit-box-shadow: inset -5px 0px 3px 0 rgba(0,0,0,0.55);
				-moz-box-shadow: inset -5px 0px 3px 0 rgba(0,0,0,0.55);
				box-shadow: inset -5px 0px 3px 0 rgba(0,0,0,0.55);
				-ms-transform: rotate(20deg); /* IE 9 */
			    -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
			    transform: rotate(20deg);
			}
		}
	}
}

.navbar-nav {
	float: right;
}

.hero {
	width: 100%;
	height: 85%;
	min-height: 750px;
	background-color: #ccc;
	background-position: center;
	background-size: cover;
	position: relative;
	.overlay {
		position: absolute;
		width: 100%;
		bottom: 0;
		height: 32%;
		background-color: rgba(0,0,0,0.7);
		left: 0;
		.container {
			max-width: 1024px;
		}
		p {
			color: white; 
			margin: 2rem 0;
		}
		.profile-icon {
			font-size: 1.6em;
			font-weight: 200;
			display: inline-block;
			float: left;
			color: #728a3d;
			line-height: 30px;
			vertical-align: middle;
			&:before {
				display: inline-block;
				vertical-align: middle;
				margin-right: 1rem;
				content: "";
				width: 30px;
				height: 30px;
				background-image: url('../img/TRU-icon-Member.png');
				background-size: cover;
				background-position: center; 
			}
		}
		.facebook-icon, .twitter-icon, .book-icon {
			float: right;
			line-height: 30px;
			height: 30px;
			color: white;
			font-size: 1.4em;
			font-weight: 100;
			&:hover {
				color: $brand-primary;
			}
			&:before {
				width: 20px;
				display: inline-block;
				margin-right: .5rem;
			}
		}
		.book-icon {
			margin-left: 3rem;

		}
		.facebook-icon {
			width: 20px;
			overflow: hidden;
		}
	}
	.content {
		height: calc(60% - 130px);
		padding-top: 190px;
		.container {
			text-align: center;
			max-width: 1024px;
		}
		h1, a, p {
			color: white;
		}
		h1 {
			font-size: 4em;
			font-weight: 200;
		}
		p {
			font-size: 1.2em;
		}
		.play {
			display: inline-block;
			text-indent: -9999px;
			height:7rem;
			width: 7rem;
			background: url('../img/TRU-icon-Play.png');
			background-size: cover;
			margin: 2rem;
		}
	}
	.col-md-4 img {
		float: right;
	}
}