.tests {
	.tabs, .tabs-content, .tabs-pane {
		overflow: hidden;
	}
}

.wide-bar  {
	h1 span:before {
		content: "+";
	}
	&.on h1 span:before {
		content: "-";
	}
}
.tests li  {
	a span:before {
		content: "+";
	}
	&.active a span:before {
		content: "-";
	}
}