<div class="conventional-treatment">
	<h3>Conventional Treatments</h3>
	<div class="tabs">
		<div class="col-md-4">
			<button class="" data-tab="#tab1">Nutrients</button>
		</div>
		<div class="col-md-4">
			<button class="active" data-tab="#tab2">Approach</button>
		</div>
		<div class="col-md-4">
			<button data-tab="#tab3">Tips</button>
		</div>
	</div>
	<div class="tabs-content">
		<div class="tabs-pane" id="tab1">
			{% for nutrient in post.get_field('nutrients') %}
				<section class="row">
					<!--img src="<?php echo get_template_directory_uri(); ?>/img/tabpic1.jpg" width="200px" align="left"--><h4>{{nutrient.post_title}}</h4>
					<p>{{nutrient.post_content}}</p>
					<a href="{{nutrient.guid}}">Learn More ></a>
				</section>
			{% endfor %}
		</div>
		<div class="tabs-pane active" id="tab2">
			<h4>{{post.post_title}}</h4>
			<p>{{post.approach_description}}</p>
		</div>
		<div class="tabs-pane" id="tab3">
			{% for tip in post.get_field('tips') %}
				<section class="row">
					<!--img src="<?php echo get_template_directory_uri(); ?>/img/tabpic1.jpg" width="200px" align="left"--><h4>{{tip.post_title}}</h4>
					<p>{{tip.post_content}}</p>
				</section>
			{% endfor %}
		</div>
  	</div>
</div>