<div class="myths">
	<div class="container">
		<h3>Acne Myths</h3>
		{% for myth_obj in post.get_field('myths') %}
			{% if loop.index is odd %}<div class="col-md-6">{% endif %}
				<p class="myth">{{myth_obj.myth}}</p>
				<p class="reality">{{myth_obj.reality}}</p>
			{% if loop.index is even %}</div>{% endif %}
		{% endfor %}
	</div>
</div>