<div class="quiz">
	

		{% for the_quiz in post.quiz %}
			{% set quiz_obj = TimberPost(the_quiz) %}
			<h3>Take the {{quiz_obj.title}} Quiz</h3>
			{% for the_question in quiz_obj.get_field('question') %}
				{% if loop.index is even %}
					<div class="row">
				{% endif %}
				<div class="col-md-6">
					<p><span>{{loop.index}}.</span>{{the_question.question}}</p>
					<form>
						{% for answer in the_question.answer %}
							<input type="checkbox" name="answer" class="correct_{{answer.correct}}">{{answer.answer_text}}</input><br/>
						{% endfor %}
					</form>
				</div>
				{% if loop.index is even %}
					</div>
				{% endif %}
			{% endfor %}
		{% endfor %}
	
</div>
