<div class="tests">
	<h3>Tests</h3>
	<ul class="accordion">
		<li class="active">
			<a href="#home-tests"><span></span>Healthius Home Tests</a>
			<div class="tabs">
				{% set homeToggle = 0 %}
				{% for test in post.get_field('tests') %}
					{% if test.test_type == "home" %}
						<div class="col-md-2">
							<button {% if homeToggle == 0 %}class="active"{% set homeToggle = 1 %}{% endif %} data-tab="#test_{{test.ID}}">{{test.post_title}}</button>
						</div>
					{% endif %}
				{% endfor %}
  			</div>
		  	<div class="tabs-content">
				{% set homeContent = 0 %}
		  		{% for test in post.get_field('tests') %}
					{% if test.test_type == "home" %}
						<div class="tabs-pane {% if homeContent == 0 %}active{% set homeContent = 1 %}{% endif %}" id="test_{{test.ID}}">
				  			<div class="row">
				  				<h4>{{test.post_title}}</h4>
								<img src="{{test.image.url}}" width="200px" align="left">
								<p>{{test.post_content}}</p>
						  	</div>
				  		</div>
					{% endif %}
				{% endfor %}
			</div>
		</li>
		<li>
			<a href="#lab-tests"><span></span>Healthius Lab Tests</a>
			<div class="tabs">
				{% set labToggle = 0 %}
				{% for test in post.get_field('tests') %}
					{% if test.test_type == "lab" %}
						<div class="col-md-2">
							<button {% if labToggle == 0 %}class="active"{% set labToggle = 1 %}{% endif %} data-tab="#test_{{test.ID}}">{{test.post_title}}</button>
						</div>
					{% endif %}
				{% endfor %}
  			</div>
		  	<div class="tabs-content">
				{% set labContent = 0 %}
		  		{% for test in post.get_field('tests') %}
					{% if test.test_type == "lab" %}
						<div class="tabs-pane {% if labContent == 0 %}active{% set labContent = 1 %}{% endif %}" id="test_{{test.ID}}">
				  			<div class="row">
				  				<h4>{{test.post_title}}</h4>
								<img src="{{test.image.url}}" width="200px" align="left">
								<p>{{test.post_content}}</p>
						  	</div>
				  		</div>
					{% endif %}
				{% endfor %}
			</div>
		</li>
	</ul>
</div>