<div class="tests">
	<h3>Tests</h3>
	<ul class="accordion">
		<li>
			<a href="#home-tests">- Healthius Home Tests</a>
			<div class="tabs">
				{% for test in post.get_field('tests') %}
					{% if test.test_type is "Home Test" %}
						<div class="col-md-2">
							<button class="active" data-tab="#tab1">{{test.post_title}}</button>
						</div>
					{% endif %}
				{% endfor %}
  			</div>
		  	<div class="tabs-content">
		  		<div class="tabs-pane active" id="tab1">
		  			<div class="row">
						<!--img src="<?php echo get_template_directory_uri(); ?>/img/tabpic1.jpg" width="200px" align="left"-->
						<h4>Characteristic 1</h4>
				  		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				  	</div>
		  		</div>
				<div class="tabs-pane" id="tab2">
		  		</div>
				<div class="tabs-pane" id="tab3">
		  		</div>
			</div>
		</li>
		<li>
			<a href="#lab-tests">+ Healthius Lab Tests</a>
			<div class="tabs">
		  		<div class="col-md-2">
		  			<button class="active" data-tab="#tab1">Nutrients</button>
		  		</div>
		  		<div class="col-md-2">
		  			<button data-tab="#tab2">Approach</button>
		  		</div>
		  		<div class="col-md-2">
		  			<button data-tab="#tab3">Tips</button>
		  		</div>
  			</div>
			<div class="tabs-content">
				<div class="tabs-pane active" id="tab1">
					<img src="<?php echo get_template_directory_uri(); ?>/img/tabpic1.jpg" width="200px" align="left"><h4>Characteristic 1</h4>
				  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			  	</div>
				<div class="tabs-pane" id="tab2">
				</div>
				<div class="tabs-pane" id="tab3">
			  	</div>
			</div>
		</li>
	</ul>
</div>