<div class="symptoms">
	<div class="col-md-6">
		<h3>Symptoms</h3>
		{% for symptom in post.get_field('symptoms') %}
			<div class="symptom">
		        <div class="col-md-5">
		            <img src="{{symptom.image.url}}" width="100%">
		        </div>
		        <div class="col-md-7">
		            <p>
		            	<strong>{{symptom.title}}</strong><br/>
		                {{symptom.description}}
		            </p>
		        </div>
		    </div>
		{% endfor %}
	</div>
	<div class="col-md-6">
		<h3>Causes</h3>
		{% for cause in post.get_field('causes')|slice(0, 1) %}
			<div class="symptom">
		        <div class="col-md-5">
		            <img src="{{cause.image.url}}" width="100%">
		        </div>
		        <div class="col-md-7">
		            <p>
		            	<strong>{{cause.title}}</strong><br/>
		                {{cause.description}}
		                <div>
			                <a href="#">See all Conditions</a>
			            </div>
		            </p>
		        </div>
		    </div>
		{% endfor %}

	</div>
</div>