{% for image in post.get_field('sidebar_banner_images') %}
 	<a href="{{image.banner_url}}">
 		<img src="{{image.banner_image.url}}" style=" width: 100%; margin-bottom: 25px;" />
 	</a>
{% endfor %}
