          <div class="tabs">
            <DIV STYLE="DISPLAY: INLINE-BLOCK;">
              <button class="active" data-tab="#tab1">Characteristics</button>
              </DIV>
            <DIV STYLE="DISPLAY: INLINE-BLOCK;">
              <button data-tab="#tab2">Treatments</button>
              </DIV>
            <DIV STYLE="DISPLAY: INLINE-BLOCK;">
              <button data-tab="#tab3">Home Tests</button>
              </DIV>
            <DIV STYLE="DISPLAY: INLINE-BLOCK;">
              <button data-tab="#tab4">Supplements</button>
              </DIV>
          </div>

          <div class="tabs-content">
            <div class="tabs-pane active" id="tab1">
                {% for characteristic_obj in post.get_field('characteristics') %}
                  {% set characteristic_img = TimberImage(characteristic_obj.image) %}
                  <div class="row">
                    <h4>{{characteristic_obj.post_title}}</h4>
                    <img src="{{characteristic_img.get_src}}" width="200px" align="left">
                    <p>{{characteristic_obj.post_content}}
                      <a href="{{characteristic_obj.post_permalink}}">Learn More ></a>
                    </p>
                  </div>
                {% endfor %}
                <a href="#">See all Characteristics ></a>
            </div>

            <div class="tabs-pane" id="tab2">
              {% for treatment in post.get_field('treatments') %}
                  {% set treatment_img = TimberImage(treatment.image) %}
                  <div class="row">
                    <!--img src="{{treatment_img}}" width="200px" align="left"-->
                    <h4>{{treatment.post_title}}</h4>
                    <p>{{treatment.post_content}}</p>
                    <a href="{{treatment.post_permalink}}">Learn More ></a>
                  </div>
                {% endfor %}
              <a href="#">See all Treatments ></a>
            </div>

            <div class="tabs-pane" id="tab3">
              {% for test_obj in post.get_field('home_tests') %}
                <div class="row">
                  <h4>{{test_obj.post_title}}</h4>
                  <p>{{test_obj.post_content}}</p>
                  <a href="{{test_obj.post_permalink}}">Learn More ></a>
                </div>
              {% endfor %}
              <a href="#">See all Home Tests ></a>
            </div>

            <div class="tabs-pane" id="tab4">
              <h4>Supplements 1</h4>
              {% for supplement_obj in post.get_field('supplements') %}
                {% set supplement_img = TimberImage(supplement_obj.image) %}
                <div class="row">
                  <img src="{{supplement_img.get_src}}" width="200px" align="left">
                  <h4>{{supplement_obj.post_title}}</h4>
                  <p>{{supplement_obj.post_content}}</p>
                  <a href="{{supplement_obj.post_permalink}}">Learn More ></a>
                </div>
              {% endfor %}
              <a href="#">See all Supplements ></a>
            </div>
          </div>