<h3 class="latest-articles">Articles</h3>
            {% for article in post.get_field('articles') %}
              <p><strong>{{article.post_title}}</strong><br/>
              {{article.post_content}}
              {% set author = TimberUser(article.post_author) %}
              <p class="date">Written by {{ author.name}}<br/>{{article.post_date}}</p>
            {% endfor %}
            <a href="#">See All Articles ></a>