<div class="hero" style="background-image: url('{{post.get_field('post-image')}}');">
	<div class="blog-content">
        <div class="container">
          <h1>{{post.title}}</h1>
          <p>{{post.content}}</p>
          <a href="{{post.permalink}}" class="archive-link btn btn-primary">Learn More</a>
        </div>
      </div>
</div>
