<div id="dynamo" class="lightbox">
	<a class="lightbox-btn glyphicon glyphicon-resize-small"></a>
	<div class="content">
		<div class="container">
			<img class="main" src="http://lorempixel.com/1024/540/food/" alt="">
		</div>
	</div>
</div>