//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight:                normal;

$btn-default-color:              #fff;
$btn-default-bg:                 #474949;
$btn-default-border:             $btn-default-bg;

$btn-primary-color:              $btn-default-color;
$btn-primary-bg:                 $brand-primary;
$btn-primary-border:             $btn-primary-bg;

$btn-success-color:              $btn-default-color;
$btn-success-bg:                 $brand-success;
$btn-success-border:             $btn-success-bg;

$btn-info-color:                 $btn-default-color;
$btn-info-bg:                    $brand-info;
$btn-info-border:                $btn-info-bg;

$btn-warning-color:              $btn-default-color;
$btn-warning-bg:                 $brand-warning;
$btn-warning-border:             $btn-warning-bg;

$btn-danger-color:               $brand-success;
$btn-danger-bg:                  $gray-dark;
$btn-danger-border:              $gray-dark;

$btn-link-disabled-color:        $gray-light;

.btn-light {
	background-color: $gray-lighter;
	border-color: $gray-lighter;
	color: $gray;
}
.btn-outline {
	background-color: white;
	border-color: $gray-light;
	color: $gray-light;
}

.btn-group-block {
	margin-top: 5px;
	width: 100%;
	display: block;
	.btn {
		border-radius: 0;
		width: 90%;
		text-align: left;
		&.dropdown-toggle {
			width: 10%;
			text-align: center;
		}
	}
	.dropdown-menu {
		width: 100%;
		margin-top: 44px;
		border-radius: 0;
		border: 1px $gray-light solid;
	}
}