p, a, em, form {
  font-family: museo-sans, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: museo-sans, sans-serif;
}

#menu-primary-navigation.nav.navbar-nav {
  margin-right: 25px;
}

.first-widget {
  height: 150px;
  border-bottom: 1px solid #c9c9ca;
}

.sidebar {
  padding-left: 40px;
  border-left: 1px solid #c9c9ca;
}

.second-widget img, .third-widget img {
  margin: 30px 0;
}

.practioner-homepage {
  height: 460px;
}

.latest-articles {
  border-top: 1px solid #c9c9ca;
  border-bottom: 1px solid #c9c9ca;
  padding: 15px 0;
}

.date {
  font-size: .9em;
  color: #c9c9ca;
  padding: 15px 0 30px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #c9c9ca;
}

a.left-subnav {
  float: left!important;
}

.footer-articles {
  padding: 0 50px;
}

.about-widget {
  padding: 0 50px;
}

h5 {
  color: #728a3d;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 25px;
}

h3 {
  color: #4bc9f1;
  font-weight: 200;
  font-size: 20px;
}

h2 {
  color: #4bc9f1;
  font-weight: 400;
  font-size: 24px;
}

footer li {
  list-style-type: none;
}

footer ul {
  list-style-position:inside;
  margin:0;
  padding:0;
}

footer {
  background-color: #303030;
  color: #fff;
  padding: 75px 0;
}

footer h5 {
  margin-top: 25px;
  margin-bottom: 10px;
}

.first-widget .input-group button {
  padding: 10px 10px!important;
}

.home-sidebar {
  margin-bottom: 50px;
  margin-top: 50px;
}

.page-template-az-directory-php .home-sidebar,
.post-type-archive .home-sidebar {
  padding: 100px 0;
  a {
    color: black;
  }
}

.post-type-archive .slides a {
  text-decoration: none;
}

.post-type-archive .slide-image {
  width: 300px;
  height: 150px;
  background-position: center;
  background-size: cover;
  z-index: -1;
  position: relative;
  display: inline-block;
}

.social-widget {
  width: 200px;
  height: 60px;
  margin-top: 20px;
}

.social-widget-header {
  width: 160px;
  height: 60px;
  display: inline-block;
float: right;
margin-top: 30px;
margin-left: 10px;
}

.social-widget-bottom {
  width: 200px;
  height: 60px;
  margin-top: 10px;
}

.social-widget a, .social-widget-bottom a, .social-widget-header a {
  float: left;
  margin-right: 20px;
}

/**READING ROOM**/

.latest-articles-blog {
  margin: 35px 0 15px 0;
}

.green-overlay {
  position: absolute;
width: 100%;
bottom: 0;
height: 210px;
background-color: #8eae2d;
left: 0;
-webkit-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
}

.blog-search {
  width: 30%;
  margin: 0 auto;
  margin-top: 50px;
}

.blog-content {
  height: calc(60% - 130px);
padding-top: 250px;
color: #fff;
text-align: center;
}

.blog-content h1 {
  font-size: 50px;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

.date-blog {
  color: #4bc9f1;
}

.date-blog i {
  color: #4bc9f1;
}

.blog-articles a {
  text-decoration: none;
  color: #4e4e4e;
}

.blog-articles {
  padding-bottom: 25px;
  margin-right: 25px;
  border-bottom: 1px solid #c9c9ca;
}

.facebook, .twitter {
  float: right;
}

/**PRACTIONER HOME**/

.practitioner-home .hero {
  height: 50%;
  min-height: 550px;
}

.practitioner-home .hero .content {
  padding-top: 230px;
}

.practitioner-search {
  margin-top: 75px;
  padding: 0 100px;
}

.practitioner-search h1 {
  color: #728a3d;
  margin-bottom: 30px;
}

.practitioner-sidebar {
  margin-top: 25px;
}

.practitioner-sidebar button {
  margin-top: 10px;
}

.practitioner-sidebar a {
  margin-top: 15px;
}

.map {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.practitioner-home .home-sidebar .col-md-4 h3 {
  margin-top: 95px;
}


/**AZ DIRECTORY**/

.borders {
  color: #728a3d;
  border-top: 1px solid #c9c9ca;
  border-bottom: 1px solid #c9c9ca;
  padding: 15px 0;
  font-size: 26px;
  margin-top: 30px;
}

.az-directory .home-sidebar {
  margin-top: 75px;
}

.az-directory .practitioner-sidebar {
  margin-top: 25px;
}

.az-directory a.button {
  background-color: #e6dd76;
  color: #4bc9f1;
  padding: 10px 20px;
  border-radius: 5px;
  position: relative;
  top: 15px;
}

.search-conditions {
  background-color: #728a3d;
  height: 175px;
  color: #fff;
  text-align: center;
}

.search-conditions h1 {
  margin-top: 10px;
}

.search-conditions-wrap {
  position: relative;
top: 30px;
max-width: 600px;
margin: 0 auto;
}

.az-directory ul {
  list-style-type: none;
}

.az-directory div.input-group.input-group-lg {
  max-width: 400px;
margin: 0 auto;
margin-top: 15px;
}

.az-directory input.dark {
  background-color: #fff;
  color: #000;
}

.az-directory button.btn.btn-default.btn-danger {
  background-color: #dddddd;
  border: none;
}

.slick-slide {
  text-align: center;
}

.slick-slide h3 {
  position: relative;
margin: 0 25px;
top: -100px;
right: -43px;
color: #fff;
width: 199px;
padding-bottom: 10px;
border-bottom: 1px solid #fff;
}

.slick-slide p {
  position: relative;
margin:0;
margin: 0;
top: -90px;
right: -66px;
color: #fff;
width: 199px;
}

.reading-room .slick-slide h3 {
  right: -8px;
}

.reading-room .slick-slide p {
  right: -33px;
}

.az-directory .first-widget .col-md-8 {
  padding-left: 0;
}

.az-directory .first-widget .col-md-4 {
  padding-right: 0;
}

/**PRACTITIONER SINGLE**/

.practitioner-single .hero {
  height: 65%;
  min-height: 600px;
}

.practitioner-single .btn-group-block {
  display: inline-block;
  max-width: 340px;
  margin-right: 20px;
  margin-top: 0;
}

.practitioner-single .btn-primary {
  background-color: #728a3d;
  border: 1px solid #728a3d;
  padding: 10px 26px;
}

.practitioner-single .bottom-container {
  background-color: #eaefd5;
  padding: 50px 0;
}

.practitioner-single .top-container {
  padding: 50px 0;
}

.practitioner-single .home-sidebar {
  margin: 0;
}

.bottom-container h3 {
  border-top: 1px solid #c9c9ca;
  border-bottom: 1px solid #c9c9ca;
  padding: 15px 0;
  color: #728a3d;
}

.bottom-container a {
  color: #728a3d;
}

.bottom-container .date {
  color: #737373;
}

.areas-of-practice {
  display: inline-block;
  border: 1px solid #000;
  margin-bottom: 30px;
}

.areas-of-practice p {
  text-align: center;
}

.bold-background {
  background-color: #eaefd5;
font-weight: 700;
}

.areas-of-practice li {
  text-align: center;
  width: 70px;
  margin: 5px 20px;
  display: inline-block;
  color: #728a3d;
}

.areas-of-practice img {
  margin-bottom: 15px;
}

.areas-of-practice ul {
  list-style-type: none;
  padding: 0;
  margin: 15px 30px;
}

a.btn.btn-primary.btn-lg.go.practitioner-button {
background-color: #6f3718;
border: 1px solid #6f3718;
}

/**BECOME A MEMBER**/

.become-a-member .hero {
  height: 65%;
  min-height: 600px;
}

.become-a-member h3, .become-a-member h2 {
  color: #728a3d;
}

/**HEALTH CENTER SINGLE**/

.health-center-single .hero {
  height: 65%;
  min-height: 600px;
  max-height: 650px;
}

.health-center-single .images {
  margin-top: 35px;
}

.health-center-single .btn-group-block {
  display: inline-block;
width: 350px;
margin: 0;
}

.health-center-single .blog-content ul.dropdown-menu {
  margin: 0;
}

.health-center-single .hero h1 {
  color: #fff;
}

.health-center-single h1 {
  color: #4cbbda;
  font-size: 1.8em;
  margin-bottom: 25px;
}

.health-center-single .overview {
  background-color: #2ab3db;
  padding: 20px;
  color: #000;
}

.health-center-single .overview img {
  margin-bottom: 25px;
}

.tabs-content, .tabs-content a {
  color: #000;
}

.tabs-content a {
  font-weight: 500;
}

.tabs-content {
  background-color: #e3f9fe;
  padding: 10px 30px 40px 30px;
}

.tabs-content img {
  margin-right: 15px;
  margin-bottom: 30px;
}

.tabs button {
  font-size: 1em;
  text-transform: uppercase;
  background-color: #7ee5fe;
  border: none;
  border-style: none;
  padding: 10px 30px;
  margin-right: -4px;
}

.tabs button.active {
  background-color: #e3f9fe;
}

.tabs {
  margin-top: 25px;
}

.health-center-single .blog-content h1 {
  font-size: 50px;
}

.practitioner-dropdown {
  overflow: hidden;
  margin-bottom: 40px;
}

/**AZ SINGLE PAGE**/
.single .hero {
      height: 65%;
      min-height: 600px;
      max-height: 650px;
    }

.az-single, .single-condition {

    .hero {
      height: 65%;
      min-height: 600px;
      max-height: 650px;
    }

    .blog-content p {
      max-width: 800px;
      margin: 0 auto;
    }

    h3 {
      color: #000;
      margin-top: 30px;
    }

    .inform {
      background-color: #eaefd5;
    }
   .inform-bar {
      background-color: #8eae2d;
      height: 100px;
    }

    .inform-bar h1 {
      color: #fff;
      text-align: center;
      line-height: 100px;
      margin: 0;
      font-weight: 100;
    }
    .small-bar {
      height: 50px;
      background-color: #d6e2b0;
    }

  .small-bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .small-bar li {
    display: inline-block;
    padding: 0 1.5em;
    margin: 15px 0;
    border-right: 1px solid #000;
  }

  .small-bar li:last-child {
    border-right: none;
  }

  .symptoms .col-md-6 {
    padding-left: 0;
  }

  .symptoms {
    border-bottom: 1px solid #000;
    .symptom {
      overflow: hidden;
      margin-bottom: 3rem;
    }
  }

  .tabs button {
    padding: 15px 0;
    width: 100%;
    text-transform: none;
  }

  .conventional-treatment .col-md-4 {
    padding: 0 1px;
  }

  .quiz p {
    color: #728a3d;
    margin: 10px 0;
    font-weight: 600;
  }

  .quiz span {
    color: #303030;
    font-weight: 600;
  }

  form {
    color: #000;
    font-weight: 600;
  }

  input {
    margin-right: 5px;
  }

  .myths {
    padding: 30px 0;
    border-top: 1px solid #000;
  }

  .inform .container {
    padding-bottom: 50px;
  }

  .myths .col-md-6 {
    padding-left: 0;
  }

  p.myth {
    color: #713719;
    font-weight: 600;
  }

  p.reality {
    color: #8cad2a;
    font-weight: 600;
  }

  .myth h3 {
    margin-bottom: 20px;
  }

  .empower-bar {
   background-color: #0a5e68;
   height: 100px;
   text-align: center;
 }

 .empower-bar h1 {
   color: #fff;
   text-align: center;
   line-height: 100px;
   margin: 0;
   font-weight: 100;
 }

   .heal-bar {
    background-color: #3f5426;
    height: 100px;
    text-align: center;
  }

  .heal-bar h1 {
    color: #fff;
    text-align: center;
    line-height: 100px;
    margin: 0;
    font-weight: 100;
  }

  ul.accordion {
    padding-left: 0;
    list-style-type: none;
  }

  ul.accordion li {
    background-color: #a58669;
    padding: 0;
  }

  ul.accordion li.active {
    background-color: #6f3718;
    padding: 0;
  }

  ul.accordion li a {
    display: block;
    padding: 13px 20px;
    font-size: 2em;
    color: #fff;
    font-weight: 100;
    text-decoration: none;
  }

  ul.accordion .tabs {
    margin-top: 0;
  }

  ul.accordion .col-md-2 {
    padding: 0 2px 0 0;
  }

  ul.accordion .tabs-content img {
    margin-bottom: 0;
  }

  ul.accordion .tabs-content {
    padding: 10px 30px 80px 30px;
    background-color: #d9d4b9;
  }

  ul.accordion .tabs button {
    background-color: #bba88a;
  }

  ul.accordion .tabs button.active {
    background-color: #d9d4b9;
  }

  .question-title {
    color: #8a8a8a;
    font-size: 16px;
    font-weight: 600;
  }

  .question-title .date {
    font-size: 16px;
    color: #8a8a8a;
    border-bottom: none;
  }

  .view-replies {
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
    display: block;
  }

  .reply {
    padding: 8px;
    color: #000;
    margin-bottom: 15px;
  }

  .reply span {
    color: #8a8a8a;
    font-weight: 600;
  }

  .reply.highlighted {
    background-color: #d9d9d9;
  }

}

/**MEDIA QUERIES**/

@media all and (min-width: 1450px) {
  .container {
    width: 1470px;
  }

  .green-overlay .container {
    width: 1370px;
  }
}

.featured-health-centers {
  .container {
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    border-bottom: 1px #666 solid;
  }
  .col-md-4 img {
    width: 100%;
  }
}
