.first-widget {
  height: 130px;
  border-bottom: 1px solid #c9c9ca;
}

.sidebar {
  padding-left: 40px;
  border-left: 1px solid #c9c9ca;
}

.second-widget img, .third-widget img {
  margin: 30px 0;
}

.practioner-homepage {
  height: 460px;
}

.latest-articles {
  border-top: 1px solid #c9c9ca;
  border-bottom: 1px solid #c9c9ca;
  padding: 15px 0;
}

.date {
  font-size: .9em;
  color: #c9c9ca;
  padding: 15px 0 30px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #c9c9ca;
}

.footer-articles {
  padding: 0 50px;
}

.about-widget {
  padding: 0 50px;
}

h5 {
  color: #728a3d;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 25px;
}

h3 {
  color: #4bc9f1;
  font-weight: 200;
  font-size: 20px;
}

h2 {
  color: #728a3d;
  font-weight: 200;
  font-size: 24px;
}

footer li {
  list-style-type: none;
}

footer ul {
  list-style-position:inside;
  margin:0;
  padding:0;
}

footer {
  background-color: #303030;
  color: #fff;
  padding: 75px 0;
}

@media all and (min-width: 1450px) {
  .container {
    width: 1470px;
  }
}
