//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #fff;
//** Global text color on `<body>`.
$text-color:            $gray;

//** Global textual link color.
$link-color:            $brand-info;
//** Link hover color set via `darken()` function.
$link-hover-color:      $link-color;
//** Link hover decoration.
$link-hover-decoration: underline;


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000;
$gray-darker:            #2d2d2d; // #222
$gray-dark:              lighten($gray-base, 20%);   // #333
$gray:                   #666; // #555
$gray-light:             lighten($gray-base, 60%);   // #999
$gray-lighter:           lighten($gray-base, 93.5%); // #eee

$brand-primary:         #446E9B;
$brand-success:         #3CB521;
$brand-info:            #3399F3;
$brand-warning:         #D47500;
$brand-danger:          #CD0200;

.grid-ex {
	background: #ccc;
	display: block;
	min-height: 40px;
	@include box-sizing(border-box);
	background-clip: content-box;
}

.row {
	margin: 30px 0;
}