/**
 * Tabby v7.4.3
 * Simple, mobile-first toggle tabs., by Chris Ferdinandi.
 * http://github.com/cferdinandi/tabby
 *
 * Free to use under the MIT License.
 * http://gomakethings.com/mit/
 */

/*  Hide tab navigation by default */

/*  Display tab navigation if javascript enabled.
 *  This requires on the included js-accessibility.js-tabby script. */
.js-tabby .tabs {
  display: block;
  visibility: visible;
}

/*  Force browser to show a pointer on tab navigation. */
.tabs a,
.tabs button {
  cursor: pointer;
}

/*  Hide tab content if javascript is enabled. */
.js-tabby .tabs-pane {
  display: none;
  visibility: hidden;
}

/*  Show tab content when active class is added.
 *  This class is added via javascript. */
.tabs-pane.active {
  display: block;
  visibility: visible;
}

/* Clearfix */
.tabs:before,
.tabs:after {
  display: table;
  content: "";
}

.tabs:after {
  clear: both;
}
